<div>
    <span class="categories__title mr-5">{{ title }}</span>
    <button type="button" class="btn btn-light bgcolor-primary color-primary" (click)="showForm()">{{ add }}</button>
</div>
<div *ngIf="hide">
    <div class="d-flex justify-content-start p-4">
        <form class="form">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" aria-describedby="name">
            </div>
            <div class="form-group">
                <label for="author">Autor</label>
                <input type="text" class="form-control" id="author" aria-describedby="author">
            </div>
            <div class="form-group">
                <label for="url">Url imagen</label>
                <input type="text" class="form-control" id="url" aria-describedby="url">
            </div>
            <div class="form-group">
                <label for="desc">Descripción</label>
                <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
<section class="carousel">
    <div class="carousel__container">
    <app-book></app-book>
    </div>
</section>